asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
blis==0.2.4
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
cymem==2.0.2
Django==2.2.2
djangorestframework==3.9.4
en-core-web-sm==2.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jsonschema==3.0.1
lxml==4.6.3
murmurhash==1.0.2
numpy==1.16.4
parsel==1.5.1
plac==0.9.6
preshed==2.0.1
psycopg2==2.8.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pypiwin32==223
pyrsistent==0.15.2
pytz==2019.1
pywin32==224
queuelib==1.5.0
requests==2.22.0
Scrapy==1.6.0
service-identity==18.1.0
six==1.12.0
spacy==2.1.4
sqlparse==0.3.0
srsly==0.0.6
thinc==7.0.4
tqdm==4.32.1
Twisted==19.2.1
urllib3==1.25.3
w3lib==1.20.0
wasabi==0.2.2
zope.interface==4.6.0
